.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 867px) {
  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    top: 120px;
    right: 0;
    background: white;
    -webkit-box-shadow: 0px 2px 0px 0px #DDDDDD;
            box-shadow: 0px 2px 0px 0px #DDDDDD;
    z-index: 100;
  }
}

.menu .menu-item {
  list-style: none;
  margin-left: 35px;
}

@media screen and (max-width: 867px) {
  .menu .menu-item {
    margin-left: 0;
    margin-bottom: 15px;
    width: 200px;
    padding: 7px 0;
  }
  .menu .menu-item:hover {
    background: #80BB01;
  }
  .menu .menu-item:hover .menu-link {
    color: white;
  }
}

.menu .menu-item .menu-link {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 867px) {
  .menu .menu-item .menu-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=Menu.css.map */