.filter {
  height: 230px;
  -webkit-box-shadow: 1px 1px 0  #dddddd;
          box-shadow: 1px 1px 0  #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 867px) {
  .filter {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.filter input:focus {
  outline: none;
}

.filter .price {
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;
}

.filter button {
  background: #80bb01;
  color: white;
  border: 1px solid #80bb01;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
}

.filter button:focus {
  outline: none;
}
/*# sourceMappingURL=Filter.css.map */