.product {
  height: 200px;
  margin-top: 40px;
  background-size: cover;
  position: relative;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.product .info {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 15;
}

.product .info .product-category {
  color: white;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 15px;
}

.product .info .product-name {
  color: white;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 16px;
}

.product .info .product-price {
  color: white;
  text-transform: capitalize;
}
/*# sourceMappingURL=Product.css.map */