.site-header
    height: 120px
    width: 100% !important
    box-shadow: 0px 0px 10px 0px #DDDDDD
    display: flex
    justify-content: space-between
    
    position: relative
    


    .logo
        width: 100px
        height: 120px
        display: flex
        align-items: center
        img
            width: 50px
            height: 50px
            margin-left: 80px
            