.site-header {
  height: 120px;
  width: 100% !important;
  -webkit-box-shadow: 0px 0px 10px 0px #DDDDDD;
          box-shadow: 0px 0px 10px 0px #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.site-header .logo {
  width: 100px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .logo img {
  width: 50px;
  height: 50px;
  margin-left: 80px;
}
/*# sourceMappingURL=Header.css.map */