@media screen and (max-width: 867px) {
  .media {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.media .Category {
  margin-top: 40px;
  width: 20%;
}

@media screen and (max-width: 867px) {
  .media .Category {
    width: 100%;
  }
}

.media .Category h3 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
/*# sourceMappingURL=App.css.map */