.media
    @media screen and ( max-width: 867px )
        flex-wrap: wrap
    .Category
        margin-top: 40px
        width: 20%
        @media screen and ( max-width: 867px )
            width: 100%
        h3
            text-align: center
            font-weight: 600
            font-size: 22px

    